.browse-container {
   color: white;
}

.browse-title {
   font-size: 28px;
   color: #ffffff;
}

.browse-deck-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   max-width: 600px;
   margin: 100px auto 30px auto;
   padding: 0;
   list-style: none;
}

.browse-deck-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px;
   background-color: #252525;
   border-radius: 8px;
   transition: background-color ease;
}

.browse-deck-item:hover {
   background-color: #292929;
}

.deck-name {
   font-size: 14px;
   font-weight: bold;
   color: #ffffff;
}

.deck-actions {
   display: flex;
   gap: 10px;
}

.enter-button,
.remove-button {
   background-color: #519454;
   color: white;
   padding: 8px 16px;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
}

.remove-button {
   background-color: #ca3b30;
}

.enter-button:hover {
   background-color: #61ac65;
}

.remove-button:hover {
   background-color: #d84c43;
}

.browse-loading {
   text-align: center;
   font-size: 16px;
   color: #b0b0b0;
   margin: 100px 0;
}
