.sidebar {
   background-color: #212121;
   width: 250px;
   height: 100vh;
   padding: 0 20px;
   display: flex;
   flex-direction: column;
   top: 0;
   left: 0;
}

.sidebar-content {
   margin: 0 10px;
}

.sidebar-header {
   display: flex;
   justify-content: space-between;
   margin: 10px 0;
}

.sidebar-logo {
   color: white;
   font-size: 22px;
   text-align: center;
   cursor: pointer;
}

.close-button {
   background: none;
   border: none;
   color: #a8a8a8;
   font-size: 18px;
   cursor: pointer;
}

.close-button:hover {
   color: white;
   transition: color 0.3s ease;
}

.open-button {
   position: absolute;
   top: 30px;
   left: 30px;
   background: none;
   border: none;
   color: #a8a8a8;
   font-size: 20px;
   cursor: pointer;
}

.open-button:hover {
   color: white;
   transition: color 0.3s ease;
}

.sidebar-features {
   display: flex;
   flex-direction: column;
   margin: 20px 0;
   gap: 10px;
}

.sidebar-feature {
   display: flex;
   align-items: center;
   border-radius: 5px;
   cursor: pointer;
   color: #807d7d;
   gap: 13px;
   font-size: 15px;
   padding: 10px 15px;
}

.sidebar-feature:hover {
   background-color: #2b2b2b;
   color: rgb(231, 231, 231);
   transition: background-color 0.1s ease;
}

.sidebar-feature.selected {
   background-color: #2b2b2b;
   color: rgb(194, 194, 194);
}

.sidebar-user {
   display: flex;
   align-items: center;
   padding: 10px 12px;
   margin-top: auto;
   margin-bottom: 20px;
}

.sidebar-user:hover {
   background-color: #2b2b2b;
   color: rgb(231, 231, 231);
   border-radius: 5px;
   cursor: pointer;
}

.user-avatar {
   background-color: #519454;
   color: white;
   font-size: 18px;
   font-weight: bold;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-right: 10px;
}

.user-info {
   display: flex;
   flex-direction: column;
   color: #d1d1d1;
}

.user-name {
   font-size: 14px;
   font-weight: bold;
}

.user-email {
   font-size: 12px;
   color: #a8a8a8;
}

.logout-dialog-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.logout-dialog {
   background-color: #2b2b2b;
   color: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   text-align: center;
   width: 90%;
   max-width: 400px;
}

.logout-dialog h2 {
   margin-top: 0;
   font-size: 24px;
}

.logout-dialog p {
   font-size: 16px;
   margin: 15px 0;
}

.dialog-actions {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.confirm-button {
   background-color: #f44336;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
}

.confirm-button:hover {
   background-color: rgb(201, 35, 35);
   transition: background-color 0.3s ease;
}

.cancel-button {
   background-color: #4caf50;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
}

.cancel-button:hover {
   background-color: rgb(51, 146, 56);
   transition: background-color 0.3s ease;
}
